/* bkack 222222 
    pink F16D7F
    dark grey 000000 
    grey 5D5D5D 
    light grey 6F6E6E
    light light grey C4C4C4
    arrowGrey 2A2A2A


$blaci: 222222;
*/
// * {
//     /* margin: 0;
//     padding: 0; */
//     box-sizing: border-box;
// }

body {
    margin: 0;
    background-color: darkgray;
}

header {
    padding: 40px 50px;
}
.center {
    padding: 0 calc(50% - 1140px / 2);
}

.main {
    background-color: aqua;
    min-height: 300px;
    outline: black 1px solid;
}
// .test {
//     box-shadow: 0 0 0 100vmax #121212;
//     clip-path: inset(0-100vmax);
//     padding: 40px;
// }

// .full-bleed {
//     background-color: #121212;
//     color: #efefef;
// }
